html
    head
        title Node.js IP Camera Viewer
        link(rel="stylesheet", href="/css/bootstrap.min.css")

        block scripts
            script(src='/js/bootstrap.bundle.min.js')
            script(src='/js/jsmpeg.min.js')

        body
            nav(class="navbar navbar-expand-lg navbar-light bg-light")
                div(class="container-fluid")
                    div(class="collapse navbar-collapse", id="navbarSupportedContent")
                        ul(class="navbar-nav me-auto mb-2 mb-lg-0")
                            li(class="nav-item")
                                a(class="nav-link", href="/") Home

            div(class="container")
                block content
